*{
    margin:0;
    padding: 0;
    
}
a{
    text-decoration: none;
    color: white;
    
}
li{
    list-style: none;
    margin: 50px;
    
  
}
#logo{
    font-size: 50px;
}
nav{
    display: flex;
    background-color: rgb(75, 75, 75);
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    
    
    
}
ul{
    display: flex;
   
}
section img{
    
    width: 100vw;
    height: 90vh;
    position: relative;
    overflow: hidden;
    margin-top: 78px;
}
section{
    display: flex;
}
#content{
    margin-left: 900px;
    position: absolute;
    margin-top: 400px;
    color: antiquewhite;
    line-height: 20px;
}
article{
    display: flex;
    background-color:  rgb(75, 75, 75); ;
}

.h1{
    text-align: center;
    color: bisque;
    background-color: rgb(75, 75, 75);
    margin-top: 0;
}
#content2{
    margin-top: 150px;
    margin-left: 10px;
}
article div{
    margin-top: 15px;
}
